@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @theme inline {

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.147 0.004 49.25);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.147 0.004 49.25);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.147 0.004 49.25);

  --primary: oklch(0.216 0.006 56.043);

  --primary-foreground: oklch(0.985 0.001 106.423);

  --secondary: oklch(0.97 0.001 106.424);

  --secondary-foreground: oklch(0.216 0.006 56.043);

  --muted: oklch(0.97 0.001 106.424);

  --muted-foreground: oklch(0.553 0.013 58.071);

  --accent: oklch(0.97 0.001 106.424);

  --accent-foreground: oklch(0.216 0.006 56.043);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.923 0.003 48.717);

  --input: oklch(0.923 0.003 48.717);

  --ring: oklch(0.709 0.01 56.259);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0.001 106.423);

  --sidebar-foreground: oklch(0.147 0.004 49.25);

  --sidebar-primary: oklch(0.216 0.006 56.043);

  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);

  --sidebar-accent: oklch(0.97 0.001 106.424);

  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);

  --sidebar-border: oklch(0.923 0.003 48.717);

  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {

  --background: oklch(0.147 0.004 49.25);

  --foreground: oklch(0.985 0.001 106.423);

  --card: oklch(0.216 0.006 56.043);

  --card-foreground: oklch(0.985 0.001 106.423);

  --popover: oklch(0.216 0.006 56.043);

  --popover-foreground: oklch(0.985 0.001 106.423);

  --primary: oklch(0.923 0.003 48.717);

  --primary-foreground: oklch(0.216 0.006 56.043);

  --secondary: oklch(0.268 0.007 34.298);

  --secondary-foreground: oklch(0.985 0.001 106.423);

  --muted: oklch(0.268 0.007 34.298);

  --muted-foreground: oklch(0.709 0.01 56.259);

  --accent: oklch(0.268 0.007 34.298);

  --accent-foreground: oklch(0.985 0.001 106.423);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.553 0.013 58.071);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.216 0.006 56.043);

  --sidebar-foreground: oklch(0.985 0.001 106.423);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);

  --sidebar-accent: oklch(0.268 0.007 34.298);

  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  height: 100vh;
  min-width: 100%;
  display: flex;
}

.panel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.gutter {
  height: 100%;
  background-color: #ccc;
  width: 8px;
  cursor:col-resize;
}

.reset {
  position: absolute;
  top: 10;
  left: 50%;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1000;
  transform: translateX(-50%);
}

.reset:hover {
  background-color: #ccc;
}

button {
  background-color: #ccc;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 15px;
} */

.hg-theme-default{background-color:#ececec;border-radius:5px;box-sizing:border-box;font-family:HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;overflow:hidden;padding:5px;touch-action:manipulation;-webkit-user-select:none;-moz-user-select:none;user-select:none;width:100%}.hg-theme-default .hg-button span,.hg-theme-default .hg-button span svg{pointer-events:none}.hg-theme-default button.hg-button{border-width:0;font-size:inherit;outline:0}.hg-theme-default .hg-button{display:inline-block;flex-grow:1}.hg-theme-default .hg-row{display:flex}.hg-theme-default .hg-row:not(:last-child){margin-bottom:5px}.hg-theme-default .hg-row .hg-button-container,.hg-theme-default .hg-row .hg-button:not(:last-child){margin-right:5px}.hg-theme-default .hg-row>div:last-child{margin-right:0}.hg-theme-default .hg-row .hg-button-container{display:flex}.hg-theme-default .hg-button{align-items:center;background:#fff;border-bottom:1px solid #b5b5b5;border-radius:5px;box-shadow:0 0 3px -1px rgba(0,0,0,.3);box-sizing:border-box;cursor:pointer;display:flex;height:40px;justify-content:center;padding:5px;-webkit-tap-highlight-color:rgba(0,0,0,0)}.hg-theme-default .hg-button.hg-standardBtn{width:20px}.hg-theme-default .hg-button.hg-activeButton{background:#efefef}.hg-theme-default.hg-layout-numeric .hg-button{align-items:center;display:flex;height:60px;justify-content:center;width:33.3%}.hg-theme-default .hg-button.hg-button-numpadadd,.hg-theme-default .hg-button.hg-button-numpadenter{height:85px}.hg-theme-default .hg-button.hg-button-numpad0{width:105px}.hg-theme-default .hg-button.hg-button-com{max-width:85px}.hg-theme-default .hg-button.hg-standardBtn.hg-button-at{max-width:45px}.hg-theme-default .hg-button.hg-selectedButton{background:rgba(5,25,70,.53);color:#fff}.hg-theme-default .hg-button.hg-standardBtn[data-skbtn=".com"]{max-width:82px}.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"]{max-width:60px}.hg-candidate-box{background:#ececec;border-bottom:2px solid #b5b5b5;border-radius:5px;display:inline-flex;margin-top:-10px;position:absolute;transform:translateY(-100%);-webkit-user-select:none;-moz-user-select:none;user-select:none}ul.hg-candidate-box-list{display:flex;flex:1;list-style:none;margin:0;padding:0}li.hg-candidate-box-list-item{align-items:center;display:flex;height:40px;justify-content:center;width:40px}li.hg-candidate-box-list-item:hover{background:rgba(0,0,0,.03);cursor:pointer}li.hg-candidate-box-list-item:active{background:rgba(0,0,0,.1)}.hg-candidate-box-prev:before{content:"◄"}.hg-candidate-box-next:before{content:"►"}.hg-candidate-box-next,.hg-candidate-box-prev{align-items:center;color:#969696;cursor:pointer;display:flex;padding:0 10px}.hg-candidate-box-next{border-bottom-right-radius:5px;border-top-right-radius:5px}.hg-candidate-box-prev{border-bottom-left-radius:5px;border-top-left-radius:5px}.hg-candidate-box-btn-active{color:#444}